
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>CRUD Openation with MVC</h1>
    <p class="lead">
        Welcome
    </p>


    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Employees")">
        <span class="glyphicon glyphicon-arrow-right"></span>
        <span>See Here</span>
    </a>
</div>
